<template>
    <div id="app">
        <Question v-show="showQuestions" @start="getQuestion" @selectAnswer="getQuestion"
                  :question="question" :currentQuestion="questionsFinished"
                  :numberOfQuestions="numberOfQuestions" :answer1="answer1"
                  :answer2="answer2" :answer3="answer3" :answer4="answer4"
                  :difficulty="difficulty"/>

        <Start v-show="showStart" @selectDifficulty="setDifficulty"
               @selectNumberOfQuestions="setNumberOfQuestions"/>

        <div class="flex items-center justify-center">
            <div v-show="showResults" class="max-w-screen-xl rounded overflow-hidden shadow-lg">
                <div class="px-6 py-3">
                    <div class="font-bold text-xl mb-2">Result</div>
                    <p class="text-gray-700 text-base">
                        Your points {{points}}/{{maxPoints}}
                    </p>
                </div>
            </div>
        </div>

        <Results v-show="showResults" v-for="(question, index) in questions" v-bind:key="index"
                 v-bind:question="question" v-bind:correctAnswer="correctAnswers[index]"
                 v-bind:userAnswer="selectedAnswers[index+1]"
                 v-bind:correct="isUserAnswerCorrect[index]"/>
    </div>
</template>

<script>
 import Question from './components/Question.vue'
 import Start from './components/Start.vue'
 import Results from './components/Results.vue'

 export default {
     name: 'App',
     components: {
         Question,
         Start,
         Results
     },
     data () {
         return {
             showQuestions: null,
             showStart: true,
             showResults: null,
             numberOfQuestions: null,
             difficulty: null,
             userAnswer: null,
             questionsFinished: 0,
             question: null,
             correctAnswer: null,
             answer1: null,
             answer2: null,
             answer3: null,
             answer4: null,
             finished: false,
             questions: [],
             correctAnswers: [],
             firstAnswers: [],
             secondAnswers: [],
             thirdAnswers: [],
             selectedAnswers: [],
             isUserAnswerCorrect: [],
             points: 0,
             maxPoints: 0
         }
     },
     methods: {
         show() {
             if (this.difficulty) {
                 if (this.numberOfQuestions) {
                     this.getQuestionsFromAPI()
                     this.showStart = false;
                     this.showQuestions = true;
                     this.maxPoints = this.numberOfQuestions*10;
                 }
             }
         },
         incrementPoints(point) {
             this.points = this.points + point;
         },
         setNumberOfQuestions(numberOfQuestions) {
             this.numberOfQuestions = numberOfQuestions;
             this.show();
         },
         setDifficulty(difficulty) {
             this.difficulty = difficulty;
             this.show();
         },
         selectedAnswer(answer) {
             this.answer = answer;
         },
         incrementQuestionsFinished() {
             if (this.questionsFinished == this.numberOfQuestions) {
                 this.showResults = true;
                 this.showQuestions = false;
             }
             this.questionsFinished = this.questionsFinished + 1;
         },
         shuffle(array) {
             var currentIndex = array.length, temporaryValue, randomIndex;

             while (0 !== currentIndex) {

                 randomIndex = Math.floor(Math.random() * currentIndex);
                 currentIndex -= 1;

                 temporaryValue = array[currentIndex];
                 array[currentIndex] = array[randomIndex];
                 array[randomIndex] = temporaryValue;
             }

             return array;
         },
         checkAnswer(ans) {
             if (this.correctAnswers[this.questionsFinished-1] == ans) {
                 return true;
             } else {
                 return false;
             }
         },
         getQuestion(ans) {
             let self = this;

             if (ans == self.correctAnswers[self.questionsFinished-1]) {
                 self.incrementPoints(10);
             }

             self.$set(self.isUserAnswerCorrect, self.questionsFinished-1, self.checkAnswer(ans));
             self.$set(self.selectedAnswers, self.questionsFinished, ans);
             self.setQuestion(self.questions[self.questionsFinished]);
             var c_a = self.correctAnswers[self.questionsFinished];
             var i_a0 = self.firstAnswers[self.questionsFinished];
             var i_a1 = self.secondAnswers[self.questionsFinished];
             var i_a2 = self.thirdAnswers[self.questionsFinished];
             var shuffledAnswers = [c_a, i_a0, i_a1, i_a2];
             shuffledAnswers = self.shuffle(shuffledAnswers);
             self.setFirstQuestion(shuffledAnswers[0]);
             self.setSecondQuestion(shuffledAnswers[1]);
             self.setThirdQuestion(shuffledAnswers[2]);
             self.setFourthQuestion(shuffledAnswers[3]);
             self.incrementQuestionsFinished();
         },
         setQuestion(q) {
             this.question = q;
         },
         setFirstQuestion(ans) {
             this.answer1 = ans;
         },
         setSecondQuestion(ans) {
             this.answer2 = ans;
         },
         setThirdQuestion(ans) {
             this.answer3 = ans;
         },
         setFourthQuestion(ans) {
             this.answer4 = ans;
         },
         checkUndefined(s) {
             if (s !== "undefined") {
                 return s;
             }
             return null;
         },
         getQuestionsFromAPI() {
             let self = this;
             const axios = require('axios');
             axios.get(`https://opentdb.com/api.php?amount=${this.numberOfQuestions}&difficulty=${this.difficulty}&encode=url3986`)
                  .then(function (response) {
                      for (let i = 0; i < self.numberOfQuestions; i++) {
                          try {
                              self.$set(self.questions, i, decodeURIComponent(response.data.results[i].question));
                              self.$set(self.correctAnswers, i, self.checkUndefined(decodeURIComponent(response.data.results[i].correct_answer)));
                              self.$set(self.firstAnswers, i, self.checkUndefined(decodeURIComponent(response.data.results[i].incorrect_answers[0])));
                              self.$set(self.secondAnswers, i, self.checkUndefined(decodeURIComponent(response.data.results[i].incorrect_answers[1])));
                              self.$set(self.thirdAnswers, i, self.checkUndefined(decodeURIComponent(response.data.results[i].incorrect_answers[2])));
                          } catch (e) {
                              console.log(e);
                          }
                      }
                  })
                  .catch(function (error) {
                      console.log(error);
                  });
         },
     }
 }
</script>

<style>
 #app {
     font-family: Avenir, Helvetica, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-align: center;
     align-content: center;
     color: #2c3e50;
     margin-top: 60px;
 }
</style>
