<template>
    <div id="question" class="flex items-center justify-center">
        <div class="max-w-screen-xl rounded overflow-hidden shadow-lg">
            <div class="px-6 py-6">
                <div v-if="currentQuestion > 0" class="font-bold text-xl mb-2">{{ question }}</div>
                <div v-if="currentQuestion == 0" class="font-bold text-5xl mb-2">Quiz</div>
                <p v-if="currentQuestion > 0" class="text-gray-700 text-base">
                    {{ currentQuestion }}
                </p>
                <p v-if="currentQuestion == 0" class="text-gray-700 text-base">
                    Difficulty: {{ difficulty }}
                </p>
                <p v-if="currentQuestion == 0" class="text-gray-700 text-base">
                    Number of questions: {{ numberOfQuestions }}
                </p>
            </div>
            <div class="px-6 py-6">
                <span  v-if="!currentQuestion > 0" class="inline-block bg-gray-200 hover:bg-gray-400
                             rounded-full px-6 py-4 text-sm font-semibold text-gray-700 mx-1 my-1"
                       v-on:click="$emit('start', 'start')">Start</span>
                <span  v-if="answer1" class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                             px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                       v-on:click="$emit('selectAnswer', $props.answer1)">{{ answer1 }}</span>
                <span  v-if="answer2" class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                             px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                       v-on:click="$emit('selectAnswer', $props.answer2)">{{ answer2 }}</span>
                <span  v-if="answer3 != undefined" class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                             px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                       v-on:click="$emit('selectAnswer', $props.answer3)">{{ answer3 }}</span>
                <span  v-if="answer4" class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                             px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                       v-on:click="$emit('selectAnswer', $props.answer4)">{{ answer4 }}</span>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
     name: 'Question',
     props: {
         question: String,
         currentQuestion: Number,
         difficulty: String,
         numberOfQuestions: String,
         answer1: String,
         answer2: String,
         answer3: String,
         answer4: String
     },
 }
</script>

<style>
</style>
