<template>
    <div id="results" class="flex items-center justify-center py-4">
        <div class="max-w-screen-xl rounded overflow-hidden shadow-lg">
            <div class="px-6 py-3">
                <div class="font-bold text-xl mb-2">{{ question }}</div>
                <p class="text-gray-700 text-base">
                    Correct answer
                </p>
                <span class="inline-block bg-gray-200 rounded-full
                             px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1">{{ correctAnswer }}</span>
            </div>
            <div class="px-6 py-3">
                <p class="text-gray-700 text-base">
                    Your answer
                </p>
                <span v-show="correct" class="inline-block bg-green-200 rounded-full
                              px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"> {{ userAnswer }} </span>
                <span v-show="!correct" class="inline-block bg-red-200 rounded-full
                              px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"> {{ userAnswer }} </span>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
     props: {
         question: String,
         correctAnswer: String,
         userAnswer: String,
         correct: Boolean
     },
 }
</script>

<style>
</style>
