<template>
    <div id="start" class="flex items-center justify-center">
        <div class="max-w-screen-xl rounded overflow-hidden shadow-lg">
            <div class="px-6 py-6">
                <div class="font-bold text-5xl mb-2">Quiz</div>
            </div>
            <div class="px-6 py-1">
                <div class="px-6 py-1">
                    <p class="text-gray-700 text-base">
                        Select number of questions:
                    </p>
                    <span class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                                 px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                          v-on:click="$emit('selectNumberOfQuestions', '10')">10</span>
                    <span class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                                 px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                          v-on:click="$emit('selectNumberOfQuestions', '20')">20</span>
                </div>
                <div class="px-6 py-6">
                    <p class="text-gray-700 text-base">
                        Select difficulty
                    </p>
                    <span class="inline-block bg-gray-200 active:bg-gray-400 hover:bg-gray-400
                                 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                          v-on:click="$emit('selectDifficulty', 'easy')">Easy</span>
                    <span class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                                 px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                          v-on:click="$emit('selectDifficulty', 'medium')">Medium</span>
                    <span class="inline-block bg-gray-200 hover:bg-gray-400 rounded-full
                                 px-3 py-1 text-sm font-semibold text-gray-700 mx-1 my-1"
                          v-on:click="$emit('selectDifficulty', 'hard')">Hard</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style>
</style>
